<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=width-device, initial-scale=1.0">
    <link rel="icon" href="{{url_for('static', filename='img/logo.png')}}">
    <link rel="stylesheet" href="{{url_for('static', filename='css/styles.css')}}">
    <title>
        {% block title %}
        SBO Attendance System
        {% endblock %}
    </title>
</head>
<body>
    <header>
        <div class="header">
            <span>
                <img src="{{url_for('static', filename='/img/logo.png')}}" id="logo">
            </span>
            <div class="text">
                <h3>College of Technologies</h3>
                <h3>Student Body Organization</h3>
                <p>Academic Year 2024 -2025</p>
            </div>
        </div>
        <div class="buttons">
            <a href="{{url_for('auth.register')}}" id="register">Register</a>
            <a href="{{url_for('auth.register')}}" id="login">Login</a>
        </div>
    </header>
    {% block content %}
    {% endblock %}
</body>
</html>