{% extends 'layout.html' %}
{% block title %}
Attendance
{% endblock %}

{% block content %}
  <div class="login">
    <h1>REGISTER</h1>
    <form method="POST">
      <label for="name">Name:</label>
      <input type="text" name="name" placeholder="Enter your name">
      <label for="studentID">Student ID:</label>
      <input type="text" name="studentID" placeholder="Enter your student ID">
      {% with messages = get_flashed_messages(with_categories=true) %}
      {% if messages %}
      {% for category, message in messages %}
      {% if category == 'error' %}
      <p style="text-align: center; color: red; font-weight: bold;">{{ message }}</p>
      {% endif %} {% endfor %} {% endif %} {% endwith %}
      <input type="submit" value="Register">
    </form>
  </div>
{% endblock %}